<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  <body ng-app="moduleOne">
    <div ng-controller="accountsController">
        <table>
          <tr>
            <td> Account Number  </td>
            <td> <input type="text" ng-model="account.accountNumber"></td>
          </tr>

          <tr>
            <td> Account Holder NAme  </td>
            <td> <input type="text" ng-model="account.accountHolderName"></td>
          </tr>
          <tr>
            <td> Account Balance </td>
            <td> <input type="text" ng-model="account.balance"></td>
          </tr>
        </table>
        {{account.accountNumber}}<br/>
        {{account.accountHolderName}}<br/>
        {{account.balance}}<br/>
        </div>
  </body>
</html>
